@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001F3F;
  /* Deep Navy */
  --primary: #001F3F;
  --secondary: #00D1FF;
  /* Glowing Cyan */
  --accent: #F8F9FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-heebo: var(--font-heebo);
  --font-assistant: var(--font-assistant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-assistant), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heebo), sans-serif;
}